@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

/* Variables globales */
:root {
  --primary-blue: #00516F;
  --secondary-blue: #00758E;
  --accent-pink: #008F98;
  --dark-gray: #00AAA0;
  --text-black: #000000;
  --text-white: #ffffff;
  --card-bg-color: rgba(0, 81, 111, 0.8);
  --border-radius: 10px;
  --font-size-base: 2.2rem;
  --font-size-large: calc(3rem * 1.7);
  --font-size-medium: calc(2rem * 1.7);
  --padding-large: calc(2rem * 1.65);
  --padding-medium: calc(1rem * 1.65);
  --padding-small: calc(5px * 1.65);
  --blur-filter: blur(10px);
}

/* Estilos generales */
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--accent-pink);
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  color: var(--text-white);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

/* Estilos de la página principal (index) */
header.main {
  background-color: var(--primary-blue);
  color: var(--text-white);
  padding: 1em;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  text-align: center;
}

header.main h1 {
  margin: 0;
  font-size: var(--font-size-large);
}

.title {
  font-size: var(--font-size-large);
}

.subtitle {
  font-size: var(--font-size-medium);
}

.main-container {
  width: calc(52rem * 1.485);
  max-width: 100%;
  margin: 0 auto;
  padding: var(--padding-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-y-100 {
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: calc(1.5rem * 1.65);
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(100% + 30rem);
}

.project:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.image-container {
  width: 100%;
  max-width: 1015px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 400px;
  transition: transform 0.3s ease;
}

.project:hover .image-container img {
  transform: scale(1.05);
}

.download-link-container {
  margin-top: var(--padding-small);
  text-align: center;
}

.download-link, 
.download-link2, 
.btn-large {
  display: inline-block;
  background-color: var(--secondary-blue);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-white);
  font-size: calc(14px * 2.32);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-link:hover, 
.download-link2:hover, 
.btn-large:hover {
  background-color: var(--dark-gray);
  transform: translateY(-2px);
}

button, 
.btn-large {
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.project-info {
  padding: var(--padding-medium);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: var(--text-white);
}

.two-columns {
  column-count: 2;
  column-gap: calc(20px * 1.65);
  list-style-position: inside;
  padding-left: 0;
}

.two-columns li {
  margin-bottom: var(--padding-small);
}

@media (min-width: 768px) {
  .project {
    flex-direction: row;
    align-items: flex-start;
  }
  .image-container {
    flex: 0 0 495px;
    margin-right: 1rem;
  }
  .project-info {
    flex: 1;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .image-container {
    max-width: 100%;
  }
  .project-info {
    padding: 0.5rem;
  }
  .title {
    font-size: calc(3rem * 1.2);
  }
  .subtitle {
    font-size: calc(2rem * 1.2);
  }
  .two-columns {
    column-count: 1;
  }
  .project {
    margin-bottom: 1rem;
  }
  .image-container img {
    max-height: 300px;
  }
}

/* Estilos específicos para el curriculum */
#curriculum .project {
  width: 110%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding: var(--padding-large);
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  backdrop-filter: var(--blur-filter);
  -webkit-backdrop-filter: var(--blur-filter);
  max-width: 1000px;
}

#curriculum .image-container {
  width: 100%;
  max-width: 715px;
  margin-bottom: 2rem;
}

#curriculum .download-link-container {
  margin-top: auto;
  text-align: center;
}

/* Estilos específicos para el header de la galería */
header.main-galeria {
  background-color: var(--primary-blue);
  color: var(--text-white);
  padding: 1em 0;
  min-height: 88.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header.main-galeria h1 {
  font-size: var(--font-size-large);
  text-align: center;
  margin-top: 100px;
}

.title-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.gallery-container {
  margin-top: 100px;
}

/* Estilos específicos para la galería de fotos */
.photo-gallery {
  padding: var(--padding-medium);
}

.gallery-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
  flex: 1;
}

.gallery {
  display: flex;
  overflow-x: auto; /* Agrega esta propiedad */
  gap: 35px;
  padding: 10px 20px;
  max-height: 350px;
  align-items: center;
  white-space: nowrap;
  flex: 1;
}

.gallery-item {
  flex: 0 0 auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 35px;
}

.gallery-item img {
  filter: grayscale(100%);
  width: 300px;
  height: auto;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  border-radius: var(--border-radius);
  object-fit: cover;
  padding: 5px;
  margin: 0 10px;
}

/* Cambiar el comportamiento al pasar el mouse sobre una imagen */
.gallery-item:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}

/* Reducción del tamaño de las imágenes no seleccionadas */
.gallery-item img:not(:hover) {
  opacity: 0.5;
  transform: scale(0.8);
}

.gallery::-webkit-scrollbar {
  display: none;
}

#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 4px;
}

/* Estilos para el botón "Volver" */
.volver-container {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
}

.btn-volver {
  background-color: var(--secondary-blue);
  color: var(--text-white);
  border: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.btn-volver:hover {
  background-color: var(--accent-pink);
  transform: translateY(-2px);
}

#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  z-index: 10;
}